<launch>

    <!-- <param name="robot_description" textfile="$(find leo_description)/urdf/leo_description.urdf" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->

    <node pkg="tf" type="static_transform_publisher" name="tf_base_link_to_laser" 
    args="0.078 0 0.08 0 0 0 /base_link /laser 100" />

    <node pkg="urg_node" type="urg_node" name="urg_node">
        <param name="serial_port" value="/dev/ttyACM0"/>
        <param name="serial_baud" value="115200"/>
    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node"
    clear_params="true" output="screen">
        <rosparam command="load" file="$(find leo_navigation)/config/ekf.yaml" />
    </node>

   <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
        <rosparam command="load" file="$(find leo_navigation)/config/mapping.yaml" />
   </node>

</launch>