<launch>
  <arg name="output" default="screen"/>
  <arg name="three_d" default="false"/>

  <node name="message_filter" 
        pkg="leo_navigation" 
        type="message_filter">
    <rosparam command="load" 
              file="$(find leo_navigation)/config/message_filter.yaml"/>
  </node>

  <node if="$(arg three_d)"
        name="imu_filter_node" 
        pkg="imu_filter_madgwick" 
        type="imu_filter_node"
        output="$(arg output)">
    <rosparam command="load"
              file="$(find leo_navigation)/config/imu_filter_node.yaml"/>
  </node>

  <node name="ekf_localization_node"
        pkg="robot_localization"
        type="ekf_localization_node"
        clear_params="true"
        output="$(arg output)">
    <rosparam unless="$(arg three_d)"
              command="load"
              file="$(find leo_navigation)/config/ekf_localization_node/ekf_2d.yaml"/>
    <rosparam if="$(arg three_d)"
              command="load"
              file="$(find leo_navigation)/config/ekf_localization_node/ekf_3d.yaml"/>
  </node>

</launch>