<launch>
  <arg name="output" default="screen"/>

  <node name="message_filter" 
        pkg="leo_navigation" 
        type="message_filter">
    <rosparam command="load" 
              file="$(find leo_navigation)/config/covariances.yaml"/>
  </node>

  <node name="imu_filter_node" 
        pkg="imu_filter_madgwick" 
        type="imu_filter_node"
        output="$(arg output)">
    <param name="use_mag" value="false"/>
    <param name="publish_tf" value="false"/>
    <param name="world_frame" value="nwu"/>
    <param name="use_magnetic_field_msg" value="false"/>
    <param name="stateless" value="false"/>
  </node>

  <node name="ekf_localization_node"
        pkg="robot_localization"
        type="ekf_localization_node"
        clear_params="true"
        output="$(arg output)">
    <rosparam command="load"
              file="$(find leo_navigation)/config/robot_localization/ekf.yaml"/>
  </node>

</launch>